<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Static file</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1>Hello I am a Static file</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati culpa atque ullam voluptatum? Voluptas dicta et quas eveniet non rem veniam, vitae dolorem, unde debitis voluptate? Itaque ipsum suscipit est!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nulla earum recusandae? Possimus accusamus hic, laborum necessitatibus illo dolore illum ratione quaerat explicabo impedit fuga dolor earum, placeat itaque excepturi?</p>
</body>
</html>